/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Normalize
--------------------------------------------------------------*/
body,
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.site-container {
	flex: 1 0 auto;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	flex-shrink: 0;
}
