/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
@heading-font-family: 'Quicksand', sans-serif;
@heading-font-weight: 500;
@body-font-family: 'Nunito Sans', sans-serif;
@border-color: rgba(0,0,0,0.06);
/*--------------------------------------------------------------
Normalize
--------------------------------------------------------------*/
body,
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
	font-family: @content-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @heading-font-family;
	font-weight: @heading-font-weight;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

.title {
	font-weight: @heading-font-weight;
}
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.site-container {
	flex: 1 0 auto;
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.header-navbar {
	border-bottom: 1px solid @border-color;

	&__logo {
		img {
			max-height:none;
		}
	}
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	flex-shrink: 0;
	border-top: 1px solid @border-color;
}
/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/
.button,
button,
input[type=submit] {
	border-radius: 290486px;
}
/*--------------------------------------------------------------
Listings
--------------------------------------------------------------*/
.hp {
	&-listing {
		&--view-block {
			border: 1px solid @border-color;
		}
	}
}
